body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.basicContainer {
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: darkred;
    width: 33%;
    vertical-align: top;
    align-content: center;
    box-sizing: border-box;
}

.basicContainer h2 {
    text-align: center;
}